@using Gradebook.Foundation.Mailservice.MailTypesModels
@using Gradebook.Foundation.Mailservice.MailTypes
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ActivateAccountMailType> Localizer
@model ActivateAccountMailTypeModel
@{
    Layout="~/SharedMailLayout.cshtml";
}
<div class="fs-4 border-bottom mb-2">
    @Localizer["Subject"]
</div>
<div>
    @Localizer["YourActivationCode"]
</div>
<a href='@ViewBag.baseUrl/service/account/@Model.AccountGuid/activation/@Model.AuthCode' class="btn btn-link">@Localizer["ConfirmMyEmail"]</a>
<div>
    @Localizer["ActivationCodeInstruction"]
</div>