@using Gradebook.Foundation.Mailservice.MailTypesModels
@using Gradebook.Foundation.Mailservice.MailTypes
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<RemindPasswordMailType> Localizer
@model RemindPasswordMailTypeModel
@{
    Layout="~/SharedMailLayout.cshtml";
}
<div class="fs-4 border-bottom mb-2">
    @Localizer["Subject"]
</div>
<div>
    @Localizer["YourChangePasswordLink"]
</div>
<a href='@ViewBag.baseUrl/service/account/@Model.AccountGuid/RemindPassword/@Model.AuthCode' class="btn btn-link">@Localizer["ChangePassword"]</a>
<div>
    @Localizer["YourChangePasswordLinkInstruction"]
</div>